header {
    background-color: red;
    width: 100%;
    height: 100px;
}

li,
a {
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    display: inline;
    color: rgb(191, 200, 207);
}

#linkatual {
    color: white;
}

nav {
    text-align: center;
}