header {
    width: 100%;
    background-color: #ff0000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    box-sizing: border-box;
    top: 0;
    margin-bottom: 20px;
}

nav ol {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li,
a {
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    display: inline;
    color: rgb(191, 200, 207);
}

#linkatual {
    color: white;
}

nav {
    text-align: center;
}

header {
    position: fixed;
    font-size: 1rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;

    position: relative;

    top: 0;
    left: 0;
    width: 100%;
    height: 3em;

    object-position: center;
    object-fit: cover;

    overflow: hidden;
}

iframe {
    margin-top: 20px;
    display: flex;
    border: 1.5px solid #000100;
    border-radius: 4px;
    transition: 0.3s ease-in-out;


}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 40px;
    box-sizing: border-box;
}